@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");

$theme-colors: (
    "primary": #cc0066,
    "secondary": #7751a1
);

$body-bg: #212121;

$font-family-sans-serif: "Share Tech Mono", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$link-hover-color: #cc0066;
$font-size-base: 1.25rem;

@import "~bootstrap/scss/bootstrap";
@import "~aos/src/sass/aos.scss";
